html {
  scroll-snap-type: y mandatory;
}


.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 90vh;
  max-width: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  border: 1px solid black;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde a scrollbar no chorme, safari e opera */


.app__videos::-webkit-scrollbar {
  display: none;

}

/* Esconde a scrollbar no internet explores, edge e firefox */

.app__videos::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}